services:
  kinopub-parser:
    build: .
    container_name: kinopub-parser
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8012:8000"
    healthcheck:
      test: ["CMD", "python", "/app/manage.py", "healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3