services:
  # Service for setting permissions on the data folder before launching the application
  init:
    image: busybox
    container_name: kinopub-parser-init
    command: sh -c "mkdir -p /data && chown -R 1000:1000 /data"
    volumes:
      - ./data:/data

  web:
    build: .
    container_name: kinopub-parser-web
    restart: unless-stopped
    env_file: .env
    ports:
      - "8012:8000"
    volumes:
      - .:/app:delegated
      - ./data:/data
    command: >
      sh -c "
        python manage.py collectstatic --noinput &&
        if [ \"$ENVIRONMENT\" = \"DEV\" ]; then
          echo \"Dev environment detected. Starting restore from backup...\" &&
          python manage.py restorebackup;
        fi &&
        python manage.py migrate --noinput &&
        python manage.py createsuperuserifneeded &&
        if [ \"$DJANGO_DEBUG\" = \"true\" ] || [ \"$DJANGO_DEBUG\" = \"True\" ]; then
          echo \"Starting Django Development Server...\" &&
          python manage.py runserver 0.0.0.0:8000;
        else
          echo \"Starting Gunicorn...\" &&
          gunicorn kinopub_parser.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60;
        fi
      "
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/admin/login/"]
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      init:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - kinopub-net

  db:
    image: postgres:16-alpine
    container_name: kinopub-parser-db
    restart: unless-stopped
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kinopub-net

  redis:
    image: redis:7-alpine
    container_name: kinopub-parser-redis
    restart: unless-stopped
    networks:
      - kinopub-net

  celery:
    build: .
    container_name: kinopub-parser-celery
    command: celery -A kinopub_parser worker -l INFO
    restart: unless-stopped
    env_file: .env
    volumes:
      - .:/app:delegated
      - ./data:/data
    depends_on:
      init:
        condition: service_completed_successfully
      redis:
        condition: service_started
      db:
        condition: service_healthy
    networks:
      - kinopub-net
    healthcheck:
      test: [ "CMD-SHELL", "pgrep -f 'celery worker' || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  celery-beat:
      build: .
      container_name: kinopub-parser-celery-beat
      command: celery -A kinopub_parser beat -l INFO --schedule=/data/celerybeat-schedule
      restart: unless-stopped
      env_file: .env
      volumes:
        - .:/app:delegated
        - ./data:/data
      depends_on:
        init:
          condition: service_completed_successfully
        redis:
          condition: service_started
        db:
          condition: service_healthy
      networks:
        - kinopub-net
      healthcheck:
        test: [ "CMD-SHELL", "pgrep -f 'celery' || exit 1" ]
        interval: 30s
        timeout: 10s
        retries: 3

  email-listener:
    build: .
    container_name: kinopub-parser-email-listener
    command: python manage.py runemail_listener
    restart: unless-stopped
    env_file: .env
    volumes:
      - .:/app:delegated
    depends_on:
      db:
        condition: service_healthy
    networks:
      - kinopub-net
  
  telegram-bot:
    build:
      context: ./telegram_bot
    container_name: kinopub-parser-bot
    restart: unless-stopped
    env_file: .env
    environment:
      - BACKEND_URL=http://web:8000
    depends_on:
      web:
        condition: service_started
    volumes:
      - ./shared:/app/shared
    networks:
      - kinopub-net

volumes:
  pgdata:
    name: kinopub_parser_pgdata

networks:
  kinopub-net:
    driver: bridge